@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Inter&family=Poppins&family=Roboto:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: " Be Vietnam Pro" ,sans-serif;
}
body{
   background-color:  #F1F1F3;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    display: flex;
}
/*header*/
header{
    padding: 16px 0 20px;
    width: 100%;
    border-bottom: 1px solid var(--white-95, #F1F1F3);
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 9;
}

.container{
    width: calc( 100% - 160px );
    margin: auto;
}
header .row {
    gap: 50px;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}
header .row .burger-ico {
    display: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.logo{
    padding :5px;
    background: var(--orange-50, #FF9500);
    border-radius: 8px;
    width: fit-content;
}
.logo img {
    display: block;
    width: 33px;
    height: 33px;
}

 header .row  nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
}
.active {
    display: flex;
   padding: 12px 20px;
   align-items: center;
   gap: 10px;
   border-radius: 6px;
   background: var(--white-95, #F1F1F3);
} 
header .row nav :target{
    z-index: 10;
    position: absolute;
    left: 0;
    top: calc (100% + 12px);
    z-index: 1;
    width: 100%;
    height: 242px;
    border-radius: 8px;
}
header nav a{
color: var(--grey-15, #262626);
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
display: flex;
justify-content: center;
align-items: center;
}
header nav a:hover
{
color: #FF9500;;
border: 1px solid var(--white-95, #F1F1F3);
}
header .row .auth {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    justify-content: flex-end;
}
header .row .auth .SignUp{
color: var(--grey-15, #262626);
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
padding: 10px 0;
}
header .row .auth .SignUp :hover{
    color: #F7F7F8;
    background-color:#FF9500 ;
    padding: 12px 24px;
    border-radius: 6px;
}
header .row .auth .Login {
display: flex;
padding: 12px 24px;
align-items: center;
gap: 8px;
border-radius: 6px;
background: var(--orange-50, #FF9500);
color: var(--absolute-white, #FFF);
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}
header .row a .burger {
    display: none;
    transition: all 0.5s;
}
header .row a .burger-ico {
    display: none;
}
main section .subcontainer{
display: flex;
flex-direction: column;
align-items: center;
gap: 50px;
margin-top: 50px;
padding-bottom: 30px;
}
main section .logo{
width: fit-content;
display: flex;
padding: 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
background: var(--orange-95, #FFF4E5);
}
.start-info logo img{
width: 24px;
height: 24px;
}
.start-info .lock {
color: var(--orange-50, #FF9500);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 36px;
font-style: normal;
font-weight: 600;
}
.start-info h1{
    color: var(--grey-10, #1A1A1A);
    font-family: Be Vietnam Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.start-info .line{
width: 39px;
height: 43px;
position: absolute;
left: -27px;
top: -27px;
}
.start-info h2{
align-self: stretch;
color: var(--grey-15, #262626);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 42px */
}
.start-info p{
align-self: stretch;
color: var(--grey-15, #262626);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.linker {
display: flex;
padding: 14px 20px;
justify-content: center;
align-items: center;
gap: 7px;
}
.subcontainer .linker  .explore{
border-radius: 6px;
padding: 15px 20px;
background: var(--orange-50, #FF9500);
color: var(--absolute-white, #FFF);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 21px */
}
.subcontainer .linker .price{
border-radius: 6px;
padding: 12px 16px;
border: 1px solid var(--white-95, #F1F1F3);
background: var(--absolute-white, #FFF);
color: var(--grey-15, #262626);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
}
/card item/
.container{
    width: calc(100% - 160px);
}
.card .container .column{
gap: 100px;
}
.column{
display: flex;
flex-direction: column;
}
.card-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--white-95, #F1F1F3);
    background: var(--white-99, #FCFCFD);
}
.card-item .item{
 width: calc(100% /7 );
display: flex;
padding: 20px 30px;
justify-content: center;
align-items: flex-start;
border-right:1px solid #F1F1F3;
}
.card-item :last-child{
    border-right:none;
}
    .card-item {
        padding: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .card .card-item .item{
        width: calc(100% / 2.5);
    }
    .card .video  img:first-child{
        width: 100%;
        filter: brightness(0.8);
        border-radius: 10px;
        aspect-ratio: 1.4493927/1;
    }
.card .column .video{
    position: relative;
    width: 100%;
}
.video .img
{
    width: 100%;
    filter: brightness(0.8);
    border-radius: 10px;
    aspect-ratio: 1.972265/1;
}
img{
    display: flex;
    flex-wrap: nowrap;
}
.video .logo
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 68px;
   border: 6px solid rgba(255, 255, 255, 0.30);
   background: rgba(255, 255, 255, 0.20);
   padding: 14px;
   align-items: flex-start;
}
section {
    margin-bottom: 100px;
}
main .card-sec {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
}
.card-sec .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}
.info h2{
    color: var(--grey-15, #262626);
    font-family: Be Vietnam Pro;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 57px */
}
    .info p {
        color: var(--grey-35, #59595A);
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        width: 80%;
    }
.benefts .card-sec  .view {
    padding: 14px 20px;
    background-color: var(--secondary-bg-color);
    color: var(--grey-15, #262626);
    border-radius: 5px;
    border:1px solid #F1F1F3;
    margin-left: auto;
    text-align: center;
    background-color: #FFF;
    color: var(--grey-15, #262626);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
}
main  .benefts .cards{
display: flex;
flex-wrap: wrap;
gap: 22px;
margin-top: 30px;
}
.card-sec .card{
display: flex;
flex-wrap: wrap;
gap: 20px;
width: calc( ( 100% - 50px ) / 3);
padding: 33px;
flex-direction:column;
background-color: #FFF;
border-radius: 10px;
flex-grow: 1;
}
.card span {
color: var(--grey-15, #262626);
text-align: right;
font-family: Be Vietnam Pro;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 30% */
}
.card h3{
color: var(--grey-20, #333);
font-family: Be Vietnam Pro;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 36px */
letter-spacing: -0.144px;
}
.card p{
color: var(--grey-30, #4C4C4D);
font-family: Be Vietnam Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
 .cards .icon {
    padding: 14px;
    border-radius: 6px;
    background-color: #FCFCFD;
    border:1px solid #F1F1F3;
    width: fit-content;
    align-self: flex-end;
}
.ava-courses{
    margin-bottom: 100px;
}
 .card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.ava-courses .card-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
}
.ava-courses .view{
    padding: 14px 20px;
    background-color: var(--secondary-bg-color);
    align-self: flex-end;
    color: var(--grey-15, #262626);
    border-radius: 5px;
    border:1px solid #F1F1F3;
    margin-left: auto;
    text-align: center;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    background-color: #FFF;
    color: var(--grey-15, #262626);
    text-align: center;
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
}
    .ava-courses .courses {
        display: flex;
        /*padding: 20px;*/
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
       /* align-items: flex-start;*/
        align-items: stretch;
    }
    .courses .course {
        width: calc( (100% - 20px ) / 2 );
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--white-95, #F1F1F3);
        background: var(--absolute-white, #FFF);
        display: flex;
        flex-direction: column;
        align-content: space-between;
         gap: 24px
;
    }
    .ava-courses .courses .course img{
        object-fit: cover;
        width: 100%;
        border-radius: 6px;
        aspect-ratio: 549.5/266;
        display: flex;
        flex-wrap: wrap;
    }
    .ava-courses  .course  .data{
     margin-top: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .ava-courses .courses .course .data .row{
        gap: 12px;
      }
      .week{
        color: var(--grey-30, #4C4C4D);
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 9px;
        border: 1px solid var(--white-95, #F1F1F3);
        background: var(--absolute-white, #FFF);
        padding: 8px 14px;
      }
     .status{
        border-radius: 6px;
        border: 1px solid var(--white-95, #F1F1F3);
        background: var(--absolute-white, #FFF);
        color: var(--grey-30, #4C4C4D);
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 14px;
     }
     .name{
        color: var(--grey-15, #262626);
       font-family: Be Vietnam Pro;
       font-size: 16px;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
     }
     .ava-courses .info-course {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
     .ava-courses h3{
        color: var(--grey-15, #262626);
        font-family: Be Vietnam Pro;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; 
     }
     .ava-courses .course {
        color: var(--grey-30, #4C4C4D);
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
     }
     .ava-courses .course a{
        padding: 14px 24px;
        border-radius: 6px;
        border: 1px solid var(--white-95, #F1F1F3);
        background: var(--white-97, #F7F7F8);
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        color: var(--grey-15, #262626);
        text-align: center;
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;  
     }
     .ourtestimonials .card-info{
    display: flex;
    flex-wrap:nowrap ;
    justify-content: space-between;
    margin-bottom: 60px;
    }
    .ourtestimonials .card-sec{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: nowrap;
    }
    .ourtestimonials .view{
        padding: 14px 20px;
        background-color: var(--secondary-bg-color);
        align-self: flex-end;
        color: var(--grey-15, #262626);
        border-radius: 5px;
        border:1px solid #F1F1F3;
        margin-left: auto;
        text-align: center;
        font-family: Be Vietnam Pro;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; 
        background-color: #FFF;
    }
    .testimonials
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    .testimonials .testimonial{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        width: calc((100% - 20px) / 2);
        flex-grow: 1;
        border-radius: 10px;
        background-color: #FFF;
        padding: 20px  40px;
    }
    .testimonial p{
        color: var(--grey-30, #4C4C4D);
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        flex: 1 0 0;
    }
    .testimonial .row{
      flex-wrap: nowrap;
      justify-self: flex-start;
      margin-right: auto;
      width: 100%;
      border: 1px solid var(--white-95, #F1F1F3);
      background: var(--white-99, #FCFCFD);
    }
    .testimonial .info{
        display: flex;
        align-items: center;
        gap: 10px;
        
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
        margin-right: auto;
    }
    .testimonial .info img {
        border-radius: 6px;
        width: 70px;
        object-fit: cover;
        aspect-ratio: 1/1;
    }
    .testimonial .info .name {
        color: var(--grey-20, #333);
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        display: flex;
        flex: 1 0 0;
        text-transform: capitalize;
    }
    .testimonial a{
        color: var(--grey-15, #262626);
    text-align: center;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
    display: flex;
    padding: 14px 16px;
    justify-self: flex-end;
    margin-left: auto;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid var(--white-95, #F1F1F3);
    background: var(--white-97, #F7F7F8);
    }

    .ourpricing .card-info{
        display: flex;
        flex-wrap:nowrap ;
        justify-content: space-between;
        margin-bottom: 60px;
        }
        .ourpricing .card-sec{
            width:100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-wrap: nowrap;
        }
    .ourpricing .card-info  .taps{
        display: flex;
        background:var(--absolute-white, #FFF);
        border-radius: 8px;
        padding: 12px;
        align-self: flex-end;
    }
    .ourpricing .card-info button{
    padding: 12px 24px;
    border-radius: 6px;
    outline: none;
    border: 1px solid transparent;
    background-color: var(--absolute-white, #FFF);
    color: var(--grey-30, #4C4C4D);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    }
    .ourpricing   .taps .active{
        background: var(--orange-50, #FF9500);
        color: var(--absolute-white, #FFF);
    }
    /*.ourpricing .row{
        display: flex;
        padding: 50px;
        align-items: flex-start;
        gap: 30px;
        border-radius: 12px;
        background: var(--absolute-white, #FFF);
    }*/
    /*.ourpricing .row{
        display: flex;
        padding: 50px;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
        border-radius: 12px;
        background: var(--absolute-white, #FFF);}*/
        .ourpricing .row{
            gap: 20px;
        }

    .ourpricing  .row  .free ,  .pro 
    {
        display: flex;
        padding: 40px 24px 24px 24px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        flex: 1 0 0;
        border-radius: 12px;
       border: 1px solid var(--white-95, #F1F1F3);
       background: var(--white-99, #FCFCFD);
    }
    .ourpricing .row h3{
        padding: 10px 22px;
        border-radius: 4px;
       border: 1px solid var(--orange-90, #FFEACC);
       background: var(--orange-97, #FFF9F0);
       display: flex;
      justify-content: center;
      align-items: center;
       gap: 10px;
      align-self: stretch;
    }
    .ourpricing  .price{
        color: var(--grey-15, #262626);
        font-family: Be Vietnam Pro;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 73%; /* 43.8px */
    }
    .ourpricing  .month{
        color: var(--grey-30, #4C4C4D);
font-family: Be Vietnam Pro;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 73%; /* 11.68px */
    }
    .ourpricing .availablefeatures
    {
        display: flex;
       padding: 30px;
       flex-direction: column;
       align-items: center;
       gap: 24px;
      align-self: stretch;
      border-radius: 14px 14px 0 0 ;
      border: 1px solid var(--white-95, #F1F1F3);
      border-bottom: none;
    }
    .ourpricing h4{
        color: var(--grey-15, #262626);
        text-align: center;
        font-family: Be Vietnam Pro;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
    }
    .ourpricing .column .availablefeatures {
        display: flex;
       padding: 30px;
       flex-direction: column;
       align-items: center;
       gap: 24px;
align-self: stretch;
border-radius: 14px 14px 0px 0px;
border: 1px solid var(--White-95, #F1F1F3);
background: var(--Absolute-White, #FFF);
    }
        .ourpricing .availablefeatures .features {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 14px;
            gap: 20px;
            border-radius: 6px;
            border: 1px solid var(--white-95, #F1F1F3);
        }
        .ourpricing .availablefeatures .features span {
            width: 85%;
            color: var(--Grey-30, #4C4C4D);
            font-family: Be Vietnam Pro;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }

    main .ourpricing .availablefeatures .features .t {
    background-color: rgba(255, 244, 229, 1);
}
main .ourpricing .availablefeatures .features .t, main .ourpricing .x {
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 4px;
}
    .ourpricing .column    a 
    {

        padding: 18px 24px;
        gap: 8px;
        text-align: center;
        padding: 18px 24px;
        align-self: stretch;
        border-radius: 0px 0px 8px 8px;
        background: var(--orange-50, #FF9500);
        color: var(--absolute-white, #FFF);
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 21px */
    }
    /*footer*/

    footer{
        background-color: #fff;
        padding: 50px 0;
        padding-top: 40px;
    }
    footer .row {
      /*  display: flex;
        flex-wrap: wrap;
        gap: 40px;
        width: calc( 100% - 185px );*/
        display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
    }
    footer .first  
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        flex-wrap: wrap;
    }
    footer .first .logo
    {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        margin-inline-start: 0;
    }
    footer .logo img{
        width: 35px;
    }
    footer .first .contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-direction: column;
        margin-left: 0;
    }
    footer .first .item
    {
        display: flex;
width: 304px;
align-items: flex-start;
align-content: flex-start;
gap: 14px;
flex-wrap: wrap;
    }
    footer .first .contact img {
        width: 25px;
    
    }
    footer span {
    font-family: 'Be Vietnam Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    }
    footer .sec {
        display: flex;
       width: 737px;
        gap: 24px;
       justify-self:flex-end;
        margin-left:auto;
    }
    footer .sec .sec-item{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 25px;
        justify-content: flex-start;
        padding-right: 20px;
        width: calc( (100% / 3) - 30px );
    }
    footer .sec-item  nav
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        margin-left: 0;
        gap: 5px;
    }
    footer nav .row img{
        display: flex;
        padding: 12px;
       flex-direction: column;
       align-items: flex-start;
       gap: 15px;
    }
    footer a {
    color: #59595A;
    font-size: 14px;
    margin-left: 0;
    font-family: 'Be Vietnam Pro';
    }
    footer .sec h2{
        color: var(--grey-15, #262626);
        font-family: Be Vietnam Pro;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        gap: 20px;
    }
    footer .sec h3{
        color: var(--grey-35, #59595A);
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .ourpricing .icon{
        border-radius: 4px;
background: var(--orange-95, #FFF4E5);
    }
    @media (max-width: 600px) {

        .container{
            width: calc( 100% - 32px );
        }
        .logo img{
            width: 25px;
            height: 25px;
        }
        .card-sec{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         margin-bottom: 60px;
         gap: 20px;
        }
        .card-sec .card-info {
            width: 100%;
        }
        .card-sec .card-info h2{
            font-size: 26px;
        }
        .card-sec .card-info p{
            font-size: 26px;
        }
        .card-sec a{
            align-self: flex-start;
        }
        section{
            margin-bottom: 50px;
        }
        header .row {
            gap: 20px;
        }
        header .row .auth{
            font-size: 14px;
            margin-left: auto;
            gap: 20px;
}
        }
    @media (min-width :600px) and (max-width :904px)
{
    .container{
        width: calc(100% - 64px);
    }
    .logo img{
        width: 35px;
        height: 35px;
    }
    .card-sec{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin-bottom: 60px;
     gap: 20px;
    }
    .card-sec .card-info {
        width: 100%;
    }
    .card-sec .card-info h2{
        font-size: 26px;
    }
    .card-sec .card-info p{
        font-size: 13px;
    }
    .card-sec a{
        align-self: flex-start;
    }
    section{
        margin-bottom: 75px;
    }
}
@media (min-width :905px) and (max-width :1239px)
{
    .container{
        width: calc(100% - 128px);
    }
    section{
        margin-bottom: 75px;
    }
}
@media (min-width :1601px) 
{
    .container{
        width: calc(100% - 324px);
    }
    .logo img{
       width: 40px;
       width: 40px;
    }
}

@media (max-width :600px)
{
    header .row nav{
        flex-direction: column;
        text-align: center;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        left: 0;
        top: calc(100% + 12px);
        background-color: #ff950088;
        position: absolute;
        height: 0;
        transition: all 0.5s;
    }
    header .row .auth{
        font-size: 14px;
        margin-left: auto;
        gap: 20px;
    }
     header .row .auth .Login {
        padding: 12px 20px;
     }
     header .row a .burger {
        display: block;
     }
     header .row a .burger-ico {
        display: block;
     }
    }
   @media (min-width :600px) and (max-width :904px)
    {
        header .row nav{
            flex-direction: column;
            text-align: center;
            flex-wrap: nowrap;
            overflow: hidden;
            width: 100%;
            left: 0;
            top: calc(100% + 12px);
            background-color: #ff950088;
            position: absolute;
            height: 0;
            transition: all 0.5s;
        }
         header .row a .burger {
            display: block;
         }
         header .row a .burger-ico {
            display: block;
         }
        }
        @media (min-width :905px) and (max-width :1200px)
        {
            header .row nav a{
                font-size: 12px;
            }
            header .row nav a.active ,
           header .row nav a:hover{
            padding: 10px 18px;
             border-radius: 7px;
    }
             header .row .auth  {
                font-size: 12px;
             }
             header .row a .auth .Login {
                padding: 10px 30px;
             }
            }
            @media (min-width :1601) 
            {
                header .row nav a{
                    font-size: 17px;
                }
                 header .row .auth  {
                    font-size: 17px;
                 }
                 header .row a .auth .Login {
                    padding: 12px 34px;
                 }
                }
                
    .start .subcontainer .start-info .start-main{
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        background-color: #fff;
        width: fit-content;
        padding: 12px 24px 12px 12px;
        text-transform: capitalize;
        border-radius: 8px;
        position: relative;
        margin-bottom: 16px;
}
.start .subcontainer .start-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 121px;
    margin-bottom: 100px;
    text-align: center;
}
.start .start-main .icon{
    padding: 12px;
    background-color: #FFF4E5;
    width: 48px;
    height: 48px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start .start-info .start-main h1{
    color: var(--Grey-10, #1A1A1A);
    font-family: Be Vietnam Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.start .start-info .start-main span {
    color: var(--Orange-50, #FF9500);
    text-align: center;
    font-family: Be Vietnam Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 72px */
}
.start .start-info h2{
    color: var(--Grey-15, #262626);
    text-align: center;
    font-family: Be Vietnam Pro;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 57px */
}
.start .start-info p{
    color: var(--Grey-15, #262626);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
padding: 20px;
}
               @media (max-width:600px)
                {
                    .start .start-main h1{
                        color: var(--Grey-15, #262626);
                        text-align: center;
                        font-family: Be Vietnam Pro;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 150%; /* 21px */
                    }
                    .start .start-info h3{
                        color: var(--Grey-15, #262626);
                        text-align: center;
                        font-family: Be Vietnam Pro;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 36px */
                    }
                    .start .start-info p{
                        color: var(--Grey-15, #262626);
                        text-align: center;
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
                    }
                    .start .start-main h1 span {
                        color: var(--Orange-50, #FF9500);
                        font-family: Be Vietnam Pro;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 150%; /* 24px */
                    }
                    .start .linker .explore{
                        display: flex;
                      padding: 14px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 6px;
                    color: var(--Absolute-White, #FFF);
                    text-align: center;
                     font-family: Be Vietnam Pro;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                      line-height: 150%; /* 21px */
                    background: var(--Orange-50, #FF9500)
                    }
                    .start .linker .price{
                        color: var(--Grey-15, #262626);
                        text-align: center;
                        font-family: Be Vietnam Pro;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 21px */
                    }
                    .start .subcontainer .start-info {
                        margin-top: 50px;
                        margin-bottom: 30px;
                    }
                    .start .subcontainer .start-info .start-main {
                        padding: 14px;
                        margin-bottom: 15px;
                    }
                  /*  .start .subcontainer .start-info .start-main h1{
                        font-size: 15px;
                    }
                    .start .subcontainer .start-info h2{
                        font-size: 23px;
                        margin-bottom: 6px;
                    }
                    .start .subcontainer .start-info p{
                        font-size: 13px;
                        margin-bottom: 50px;
                    }*/
                    .start .start-info .start-main span {
                        color: var(--Orange-50, #FF9500);
                        text-align: center;
                        font-family: Be Vietnam Pro;
                        font-style: normal;
                        line-height: 150%;
                }
                @media (min-width:600px) and (max-width:940px)
                {
                    .start .subcontainer .start-info .start-main h1 {
                       font-size: 23px;
                    }
                }
                @media (max-width:1601px)
                {
                    .start .subcontainer .start-info {
                        margin-top: 50px;
                        margin-bottom: 30px;
                    }
                    .start .start-info .start-main{
                        padding: 14px 30px 14px 20px;
                        margin-bottom: 20px;
                    }
                    .start .subcontainer .start-main h1{
                        font-size: 15px;
                    }
                   .start .subcontainer .start-info h2{
                        font-size: 23px;
                    }
                    .start .subcontainer .start-info p{
                        font-size: 13px;
                    }
                    .start .subcontainer .linker a{
                        padding: 18px 24px;
                        font-weight: 600px;
                        font-size: 18px;
                        border-radius: 7px;

                    }
                }
@media (max-width :600px)
{
    .card .container .column{
        gap: 30px;
    }
    .card .card-item {
        padding :10px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .card .card-item .item {
        width: calc(100% /2.5);
    }
    .card .card-item .video img:first-child{
        width: 100%;
        border-radius: 10px;
    }
}
@media (min-width:600px) and (max-width:904){
    .card .card-item {
        padding: 13px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .card .card-item .item{
        width: calc (100% / 3.5);
    }
}
@media (min-width:1601px) {
    .card .card-item {
        padding: 30pxpx;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .card .card-item .item{
        padding: 30px 40px;
    }
}
@media (max-width:600px)
{
    .benefts .cards .card {
        width: 100%;
        gap: 30px;
        padding: 30px;
    }
    .benefts .cards .card .data p{
        height: fit-content;
    }
    .benefts .card-sec .intro {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width:600px) and (max-width:904px)
{
    .benefts .cards .card {
        width: calc( (100% - 30px) / 2 );
        gap: 30px;
        padding: 30px;
    }
    .benefts .cards .card .data p{
        height: fit-content;
    }
    .container .card-sec .intro {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width:1601px)
{
    .card.card-item {
        padding: 30px;
    }
    .card .card-item .item{
        padding: 30px 40px;
    }
}
@media (max-width:600px)
{
    .ava-courses .courses .course{
        padding: 24px;
        width: 100%;
    }
    .ava-courses .courses .course img{
        border-radius: 6px;
    }
    .ava-courses .courses .course .data{
        flex-direction: column;
        gap: 14px;
        align-items: flex-start;
    }
    .ava-courses .courses .course .info-course h3{
        font-size: 18px;
    }
    .ava-courses .courses .course .info-course p{
        font-size: 14px;
    }
}
@media (min-width :600px) and (max-width:904){
    .ava-courses .courses .course{
        padding: 24px;
        width: 100%;
    }
    .ava-courses .courses .course img{
        border-radius: 6px;
    }
}
@media (min-width :600px) and (max-width:904){
    .ava-courses .courses .course .data{
        flex-direction: column;
        gap: 14px;
        align-items: flex-start;
    }
}
@media (min-width :905px) and (max-width:1200){
    .ava-courses .courses .course .data{
        flex-direction: column;
        gap: 14px;
        align-items: flex-start;
    }
}
@media (min-width:1601px)
{
    .ava-courses .courses .course{
        padding: 50px;
        gap:30px;
        border-radius: 12px;
    }
    .ava-courses .courses .course .data .row span{
        font-size: 18px;
        padding: 10px 16px;
        border-radius: 8px;
    }
    .ava-courses .courses .course .info-course h3{
        font-size: 18px;
    }
    .ava-courses .courses .course .info-course p{
        font-size: 14px;
    }
    .ava-courses .courses .course a{
        padding: 18px 24px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
    }
}
@media (max-width:600px)
{
    .testimonials .testimonial{
        width: 100%;
        border-radius: 10px;
    }
    .testimonials .testimonial p{
        font-size: 14px;
        padding: 30px;
    }
    .testimonials .testimonial .info{
        padding: 20px 30px;
    }
    .testimonials .testimonial a{
        font-size: 14px;
        padding: 10px 12px;
    }
    .testimonials .testimonial .info span{
        font-size: 16px;
    }
}
@media (min-width:600px) and (max-width:909)
{
    .testimonials .testimonial{
        width: 100%;
        border-radius: 10px;
    }
    .testimonials .testimonial p{
        font-size: 14px;
        padding: 30px;
    }
    .testimonials .testimonial .info{
        padding: 20px 30px;
    }
    .testimonials .testimonial   a{
        font-size: 14px;
        padding: 10px 12px;
    }
    .testimonials .testimonial .info span{
        font-size: 16px;
    }
}
@media  (max-width :600px)
{
    .ourpricing .card-info .taps {
        align-self: center;
    }
    .ourpricing .row{
        flex-direction: column;
        padding: 20px;
    }
    .ourpricing .row .column {
        width: 100%;
        flex-grow: 1;
        padding: 30px 20px;
    }
    .ourpricing .row .column h3{
        padding: 8px 22px;
        font-size: 16px;
    }
    .ourpricing .row .column .taps {
        text-align: center;
        margin: 30px 0;
    }
    .ourpricing .row .column  span .active{
        font-size: 50px;
    }
    .ourpricing .row .column  span .year{
        font-size: 14px;
    }
    .ourpricing .row .column .availablefeatures {
        padding:20px ;
        gap: 20px;
        border-radius: 10px 10px 0 0;
    }
    .ourpricing .row .column .availablefeatures .features{
        padding: 0;
    }
    .ourpricing .row .column .availablefeatures .features .icon {
        width: 16px;
        height: 16px;
    }
    .ourpricing .row .column h3 {
    color: var(--Grey-15, #262626);
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 169%; /* 27.04px */ 
    }
.ourpricing .column .money span .price {
color: var(--Grey-15, #262626);
font-family: Be Vietnam Pro;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 73%; /* 36.5px */
}
.ourpricing .row .column span .month{
color: var(--Grey-30, #4C4C4D);
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 73%; /* 10.22px */
}
.ourpricing .availablefeatures .features spqn{
    color: var(--Grey-30, #4C4C4D);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.ourpricing .availablefeatures .features a{
    color: var(--Absolute-White, #FFF);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 21px */
}
}
@media (min-width :600px) and (max-width:904px)
{
    .ourpricing .card-info .taps {
        align-self: center;
    }
    .ourpricing .row{
        flex-direction: column;
        padding: 20px;
    }
    .ourpricing .row .column {
        width: 100%;
        flex-grow: 1;
        padding: 30px 20px;
    }
    .ourpricing .row .column h3{
        padding: 8px 22px;
        font-size: 16px;
    }
    .ourpricing .row .column .taps {
        text-align: center;
        margin: 30px 0;
    }
    .ourpricing .row .column  span .price{
        font-size: 50px;
    }
    .ourpricing .row .column  span .month{
        font-size: 14px;
    }
    .ourpricing .row .column .availablefeatures {
        padding:20px ;
        gap: 20px;
        border-radius: 10px 10px 0 0;
    }
    .ourpricing .row .column .availablefeatures .features{
        padding: 0;
    }
    .ourpricing .availablefeatures .features spqn{
        color: var(--Grey-30, #4C4C4D);
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
    }
    .ourpricing .availablefeatures .features a{
        color: var(--Absolute-White, #FFF);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 21px */
    }
}
@media (min-width :905px) and (max-width:1200px)
{
    .ourpricing .card-info .taps {
        align-self: center;
    }
    .ourpricing .row{
        padding: 20px;
    }
    .ourpricing .row .column {
        flex-grow: 1;
        padding: 30px 20px;
    }
    .ourpricing .row .column h3{
        padding: 8px 22px;
        font-size: 16px;
    }
    .ourpricing .row .column .taps {
        text-align: center;
        margin: 30px 0;
    }
    .ourpricing .row .column  span .price{
        font-size: 50px;
    }
    .ourpricing .row .column  span .month{
        font-size: 14px;
    }
    .ourpricing .row .column .availablefeatures {
        padding:20px ;
        gap: 20px;
        border-radius: 10px 10px 0 0;
    }
    .ourpricing .row .column .availablefeatures .features{
        padding: 0;
    }
}
@media (min-width :1601px) 
{
    .ourpricing .card-info .taps button{
        padding: 14px 30px;
        font-size: 18px;
    }
    .ourpricing .row{
        padding: 80px;
        gap: 30px;
    }
    .ourpricing .row .column {
        padding: 50px 30px;
    }
    .ourpricing .row .column h3{
        padding: 12px 22px;
        font-size: 22px;
        border-radius: 6px;
        font-weight: 500;
    }
    .ourpricing .row .column  span .price{
        font-size: 80px;
    }
    .ourpricing .row .column  span .month{
        font-size: 20px;
    }
    .ourpricing .row .column .availablefeatures {
        padding:40px ;
        gap: 30px;
    }
    .ourpricing .row .column .availablefeatures .features h4{
        font-size: 20px;
    }
    .ourpricing .row .column .availablefeatures .features span{
        gap: 20px;
        padding: 14px;
        border-radius: 8px;
    }
    .ourpricing .row .column .availablefeatures .features span .icon{
        padding: 6px;
        border-radius: 6px;
    }
    .ourpricing .row .column .availablefeatures .features span .icon img{
       width: 20px;
       height: 20px;
    }
    .ourpricing .row .column a{
        padding: 20px 24px;
        border-radius: 0 0 8px 9px;
        font-size: 18px;
    }
}

@media (max-width:600)
{
    footer {
        padding:50px 0 24px ;
    }
    footer .row {
        display: flex;
        width: 390px;
        padding: 50px 20px 24px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    footer .first{
        gap: 12px;
    }
    footer .first .logo{
        margin-bottom: 17px;
        padding: 5.5px;
    }
    footer .first .logo img{
        width: 32px;
        height: 32px;
    }
    footer .first div :not(.logo)
    {
        font-size: 14px;
    }
    footer .first span {
color: var(--Grey-15, #262626);
font-family: Be Vietnam Pro;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 22.5px */
    }
    footer .sec {
        width: 100%;
        flex-wrap: wrap;
    }
    footer .row .sec .sec-item  {
        width: calc ( ( 100% - 60px ) / 2 );
        display: flex;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
    }
    footer .row .sec nav a{
color: var(--Grey-35, #59595A);
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
    }
    footer .row .sec .sec-item nav :last-child  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }
    footer .sec .sec-item nav :last-child  a img{
        width: 20px;
        height:20px;
    }
    footer .sec .sec-item h2{
        color: var(--Grey-15, #262626);
        font-family: Be Vietnam Pro;
         font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }
}
