
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: " Be Vietnam Pro" ,sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    display: flex;
}
header{
    padding: 16px 0 20px;
    border-bottom: 1px solid var(--white-95, #F1F1F3);
}
.container{
    width: calc( 100% - 324px );
    background: var(--white-97, #F7F7F8);
    margin: auto;
}
header .row {
    gap: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.logo{
    padding :3px;
    background: var(--orange-50, #FF9500);
    border-radius: 8px;
    width: fit-content;
}
.logo img {
    display: block;
    width: 33px;
    height: 33px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
 header .row  nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.active {
    display: flex;
   padding: 12px 20px;
   align-items: center;
   gap: 10px;
   border-radius: 6px;
   background: var(--white-95, #F1F1F3);
}
header nav a{
color: var(--grey-15, #262626);
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
display: flex;
justify-content: center;
align-items: center;
}
header nav .auth{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
header .row .auth {
display: flex;
align-items: center;
gap: 30px;
}
header .row .auth .SignUp{
color: var(--grey-15, #262626);
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
transition: all 0.3s;
padding: 10px 0;
}
header .row .auth .Login {
display: flex;
padding: 12px 24px;
align-items: center;
gap: 8px;
border-radius: 6px;
background: var(--orange-50, #FF9500);
color: var(--absolute-white, #FFF);
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}